* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

// colors

$font--blue : #369;
$font--grey : #8c9597;
$font--orange : #f18b6d;
$font--purple : #6a4d8a;
