.services-content {
  @include flex-col;
  padding: 60px 15px;
  text-align: center;
  > h2 {
    font-size: 2.2em;
    margin-bottom: 10px;
  }
  > p {
    line-height: 1.6;
    color: $font--grey;
    margin-bottom: 70px;
  }
}

.services__container {
  @include flex-col;
  max-width: 1200px;
  margin: 0 auto;
  > .services__item {
    width: 100%;
    margin-bottom: 50px;
    > i {
      margin-bottom: 5px;
    }
    > h3 {
      margin-bottom: 15px;
      font-size: 1.5em;
    }
    > p {
      color: $font--grey;
      line-height: 1.7;
      @media (min-width: 768px) {
        padding: 0 10px;
      }
    }
    @media (min-width: 768px) {
      width: 30%;
    }
  }

  > .services__item--orange {
    > i, > h3 {
      color: $font--orange;
    }
  }
  > .services__item--blue {
    > i, > h3 {
      color: $font--blue;
    }
  }
  > .services__item--pruple {
    > i, > h3 {
      color: $font--purple;
    }
  }
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
